header {
  background-color: #7a6464c4;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-transform: uppercase;
  color: #1b64d1;
}

section {
  background-color: #03020254;
}

a {
  background-color: #a8a2a267;
  color: #000000;
}

img {
  display: none;
}
