div {
  /* display: table-cell; */
  /* width: 250px;
  height: 200px; */
  width: 750px;
  border: 20px solid black;
  padding: 5%;
  margin: 50px 10px 2px 10px;
  background-color: rgb(12, 1, 155);
  color: white;
}

h2 {
  /* display: table-cell; */
  padding: 2%;
  /* border: 1px solid blue; */
  text-align: center;
}

/* #divRight {
  float: left;
} */
