body {
  background-color: #f2f2f2;
  margin: 1%;
  padding: 1%;
}

.current {
  /* background-color: #800000; */
}

nav {
  width: 600px;
  background: yellow;
  /* margin: 0 auto; */
  text-align: center;
}

nav a {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 75px;
  height: 35px;
  margin: 15px;
  padding: 5px;
  background-color: greenyellow;
  border-radius: 25px;
}

nav a:hover {
  color: #f2f2f2;
  background-color: wheat;
  border-radius: 0;
}
