body {
  background-color: #f2f2f2;
  margin: 1%;
  padding: 1%;
}

nav {
  box-sizing: border-box;
  border: 10px dashed #06425c;
  color: #06425c;
  background-color: #486b02;
  display: inline-block;
  width: 20%;
  /* min-width: 125px; */
  /* margin-right: 15px; */
  height: 100vh;
  overflow: auto;
}

nav a {
  box-sizing: border-box;
  display: block;
  line-height: 45px;
  /* height: 45px; */
  color: #ffffff;
  background-color: #486b02;
  text-decoration: none;
  /* background: no-repeat right top; */
  /* padding-left: 50px; */
  margin: 0 auto;
  text-align: center;
}

section {
  display: inline-block;
  width: 70%;
  height: 100vh;
  overflow: auto;
}
